.food-item-div {
    border: solid;
    display: flex;
    margin: 5px;
    border-color: lightgrey;
    /* border: solid 2px; */
    /* justify-content: space-between; */
    height: 100%;
}

.food-item-img {
    margin: 3px;
    height: 60%;
    border: solid 1px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.food-item-name {
    justify-content: flex-start;
    width: 100%;
    text-align: left;
}

.food-item-description {
    width: 100%;
    height: 100px;
    text-align: left;
}

.food-item-middle {
    margin: 3px;
    width: 70%;
    justify-content: flex-start;
}

.food-item-button {
    margin: 3px;
    width: 20%;
    align-self: center;
}

.new-item-div {
    /* border: solid; */
    display: flex;
    flex-direction: column;
}

.div-section {
    padding: 7px;
}

.input {
    margin: 5px;
}
.short {
    width: 50%;
}

.long {
    width: 100%;
}